{% extends 'base.html' %}
{% block content %}
<div class="container-fluid cart-bg">
	{% if product_count < 1 %}
        <div class="alert alert-success">
		    <div class="container messages">
                <span>Your shopping cart is empty!</span>
            </div>
        </div>
	{% else %}
	<div class="container">
		{% for item in cart_items %}
		<div class="row cart-panel">
			<div class="col-6 col-sm-8 col-md-6 col-no-left">
				<div class="row">
					<div class="col-sm-6">
						<div class="image" style="background-image: url('{{ MEDIA_URL }}{{ item.game.image }}')"></div>
					</div>
					<div class="col-sm-6">
						<h3 class="game-title">{{ item.game.name }}</h3>
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md-6">
				<div class="row cart-inner-row">
					<div class="col-sm-4">
						{% if item.game.sale_price %}
						<span class="price">
                                    <strike>${{ item.game.price }}</strike>
                                    <p class="mb-0">${{ item.game.sale_price }}</p>
                                </span>
						{% else %}
						<span class="price v-center float-r">${{ item.game.price }}</span>
						{% endif %}
					</div>
					<div class="col-sm-8">
						<form class="form-inline cart-form" method="post" action="{% url 'adjust_cart' item.id %}">

                            {% csrf_token %}

                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
							<label class="form-group-addon cart-label" for="qty">Qty</label>
							<input name="quantity" type="number" min="0" max="3" class="cart-input" value="{{ item.quantity }}">
                            <button type="submit" class="icon-btn">
                                <i class="far fa-check-circle btn-info"></i>
                            </button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="row cart-panel padding">
			<div class="col-6 col-sm-8">
				<div class="float-r  cart-total">
					<p class="mb-0">Order Total: <span><i class="fas fa-euro-sign"></i>{{ total }}</span></p>
				</div>
			</div>
			<div class="col-6 col-sm-4">
				<a href="{% url 'checkout' %}" class="btn btn-info h-center m-1" role="button">Checkout</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}