{% extends 'base.html' %}
{% block content %}
<!-- Carousel Feature -->
<div id="carousel-feature" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-feature" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-feature" data-slide-to="1"></li>
        <li data-target="#carousel-feature" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="home-content text-center" style="background-image: url('https://steamuserimages-a.akamaihd.net/ugc/937181828939337519/C435A677394387A1A54B55C77BF3D25E23B59AC0/')">
                <div class="opaque-overlay"></div>
                
                <div class="carousel-caption text-left ">
                    <h1>Welcome!</h1>
                    <hr>
                    <p class="lead">
                        Hello there, and welcome to PEWN. My name is Marty Wickham and this website is what I built for my 4th
                        and final milestone project with the Code Institute. This project demonstrates my ability to build a fully
                        functioning Full Stack Website using the Full Stack framework, Django.  So, what is PEWN? Well, as the name
                        doesn't suggest, PEWN is a fictional eCommerce website. The purpose of which is to sell a collection of my
                        most favorite video games I got to play growing up, and in my humble opinion, you should play too!  So take
                        a look and check out my collection, there might just be something for you!
                    </p>
                    <p>
                        <a href="{%  url 'register' %}" class="btn btn-info my-2">Sign Up!</a>
                    </p>
                </div>
            </div>
        </div>
        {% for post in posts %}
            <div class="carousel-item">
                <div class="home-content text-center" style="background-image: url('{{ MEDIA_URL }}{{ post.media }}')">
                    <div class="opaque-overlay"></div>
                    
                    <div class="carousel-caption text-left ">
                        <h1>{{ post.title }}</h1>
                        <hr>
                        <p class="lead">
                            {{ post.content }}
                        </p>
                        <p>
                            <a href="{%  url 'register' %}" class="btn btn-info my-2">Sign Up!</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carousel-feature" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-feature" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--On Sale Games -->
<div class="container-fluid">
	<div class="container pt-3 pb-5">
		<div class="row">
            <div class="col-12">
                <h2 class="mx-auto">Now on sale!</h2>
                <hr>
            </div>
			{% for game in games %}
			<div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-3 mx-auto">
                <a class="game-link" href="{% url 'game_details' game.id %}">
                    <div class="panel"> 
                        <div class="image" style="background-image: url('{{ MEDIA_URL }}{{ game.image}}')"></div>
                        <div class="panel-body">

                            <h3 class="game-title title-height">{{ game.name }}</h3>
                            
                            <form class="add-cart-form" method="post" action="{% url 'add_to_cart' game.id %}">
                                {% csrf_token %}
                                <input name="quantity" type="number" value="1" class="form-control panel-input">
                                <button class="btn cart-btn-alt" type="submit">
                                    <i class="fas fa-cart-plus"></i>
                                </button>
                            </form>

                            {% if game.sale_price %}
                                <div class="price-tag-alt">
                                    <strike>${{ game.price }}</strike>
                                    <p class="price">${{ game.sale_price }}</p>
                                </div>
                                <span class="discount-tag-alt">
                                    -{{ game.discount }}%
                                </span>
                            {% else %}
                                <p class="price">${{ game.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}