@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');

body {
    font-family: Exo+2;
}

.icon-bar {
    background-color: #fff;
}

.container-fluid {
    background-color: #f7f7f7;
}

.y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.float-r {
    float: right;
} 

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.vh-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.padding {
    padding: 5px;
}

.icon-btn {
    background: none;
    padding: 0;
    border: 0;
}

td {
    padding-left: 1rem;
}

.hide {
    display: none;
}

.alert {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}


/*------------------------- Navbar -------------------------*/

.bg-black {
    background-color: black;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: #fff;
    transform: scale(1.1);
    transition: 200ms;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid white;
}

/*------------------------- Footer -------------------------*/

footer {
    /* margin-top: 40px; */
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #060606;
}


/*------------------------- Price styles -------------------------*/

.price {
    color: #443f3f;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 20px;
}

.price-l {
    color: #443f3f;
    font-size: 2.2rem;
    font-weight: 500;
}


/*------------------------- Index page -------------------------*/

.home-content {
    background-image: url('{{ MEDIA_URL }}{{ post.media }}');
    min-height: 92vh;
    margin: 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.callout-container {
    z-index: 1;
    position: relative;
    color: white;
}


/*------------------------- Games page -------------------------*/

.image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 0px;
    width: 100%;
    padding-top: 55%;
}

.panel {
    height: 100%;
    border: 1px solid #ddd;
    padding: 0;
    box-shadow: 1px 1px #a9a4a4;
}


 /* The min and max height here deal with the .panel-price fitting inside the panel body at differnent screen widths; */

 .panel:hover {
    transform: scale(1.05);
    transition: ease-in-out 400ms;
}

.panel-body { 
    background-color: #e9ece0;
    padding: .5rem;
    max-height: 150px; 
    min-height: 100px;
}


.title-height {
    min-height: 46px;
}

.panel-price {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.2rem;
    float: right;
}

.panel-input {
    display: none;
}

.cart-inner-row {
    height: 100%;
}

.cart-btn-alt {
    color: #a0d61e;
    border-color: #a0d61e;
    /* display: none; */
}

.cart-btn-alt:hover {
    color:#ddd;
    background-color: #a0d61e;
    transform: scale(1.1);
    transition: 200ms;
}

.discount-tag-alt {
    background-color: #772477;
    color: white;
    border-radius: 8%;
    padding: 5px;
    font-size: 1.1rem;
    margin-right: .5rem;
    float: right;
}

.price-tag-alt {
    margin-right: .5rem;
    float: right;
}

strike{
    color: grey;
    font-size: .7rem;
    float: right;
    margin-bottom: 0;
}

.game-title {
    font-size: 1.2rem;        
    font-weight: 500;
    color: #443f3f;
}

.game-link:hover {
    text-decoration: none;
}


/*------------------------- Cart page -------------------------*/

.cart-bg {
    background-color: #f7f7f7;
}

.cart-panel {
    background-color: #e4e2e2;
    border: 1px solid #495057;
    margin-bottom: .5rem;
}

.cart-image-col {
    padding-left: 0;
}

.cart-input {
    width: 2.5rem;
}

.cart-label {
    display: inline;
}

.cart-content {
    height: 100%;
}

.cart-total {
    padding: 10px;
    float: right;
}

.fa-check-circle {
    font-size: 24px;
    border-radius: 50%;
}


/*------------------------- Checkout page -------------------------*/

.checkout {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

@media(min-width: 576px) {
    .checkout {
    margin: 0;
    }
}


/*------------------------- Profile page -------------------------*/

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.content {
    border: 1px solid #dddddd;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
}


/*------------------------- Game details page -------------------------*/

.game-banner {
    position: relative; 
    height: 0;
    padding-top: 42%
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;   
}

@media(min-width: 768px) {
    .bg-img {
        background-size: contain;
        background-attachment: fixed;
    }
}

.play-btn {
    font-size: 7rem;
    color: 	#FFFFFF;
}

.title-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.highlight {
    color: goldenrod;
}

.selected {
    color: gold;
}

.box {
    display: inline-block;
    margin-left: -5px;
}

#star-container {
    margin-left: 5px; /* Offset .box above */
    margin-bottom: 1rem;
    display: inline;
}

.review-img {
  height: 65px;
  width: 65px;
}

.review-head {
    display: inline-block;
    text-align: center;
    padding-right: 1rem;
}

.review-user {
    font-weight: 600;
}

.review-body {
    display: inline-block;
}

.review-title {
    margin-bottom: 0;
    font-weight: 600;
}

.flag {
    background-color: #d6d5d5;
    padding: .6rem;

    margin: 0 auto 2rem;
    text-align: center;
    border-radius: 1%;
}

@media(min-width: 480px) {
    .flag {
        width: 75%;
    }
}

@media(min-width: 768px) {
    .flag {
        position: relative;
        top: -70px;
        margin-bottom: 0;
        width: 100%;
    }
}


.discount-tag {
    background-color: #772477;
    color: white;
    border-radius: 8%;
    padding: 5px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.price-tag {
    display: inline-block;
}

.cart-btn-l {
    width: 100%;
    height: 4rem;
    font-weight: 600;
}

.full-price {
    color: grey;
    font-size: .8rem;
    float: right;
    margin-bottom: 0px;
    padding-top: 5px;
    line-height: 1px;
}

.sale-price {
    font-size: 1.5rem;
}

.game-rating {
    display: inline-block;
    position: absolute;
    margin: 0 1rem;
}

@media(min-width:400px) {
    .game-rating {
        left: 50%;
        transform: translateX(-50%);
    }
}

.rating {
    font-size: 1.5rem;
}

