body {
    font-family: Arial;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.container-fluid {
    /* background-image: url("https://i.pinimg.com/originals/92/46/ec/9246ecfe50ca77f129b9515583017348.jpg") */
    background-color: #e1e0e0;
}

.y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.float-r {
    float: right;
} 

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.vh-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.padding {
    padding: 5px;
}

.game-title {
    font-size: 1em;        
    font-weight: 500;
}

.icon-btn {
    background: none;
    padding: 0;
    border: 0;
}

td {
    padding-left: 1rem;
}




/*------------------------- Navbar -------------------------*/

.bg-black {
    background-color: #131415;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: white;
    transform: scale(1.1);
    transition: 200ms;
}


/*------------------------- Footer -------------------------*/

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


/*------------------------- Index page -------------------------*/

.home-page-banner {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-colored-powder-color-powder-ink-image_15659.jpg");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.index-container {
    padding: 0;
}

/* Found out a way to maintain aspect ratio, using padding-top to determine the dimension of height by forcing height=0" */
.carousel-item {
    position: relative; 
    height: 0;
    padding-top: 42%
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*------------------------- Games page -------------------------*/

.image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 0px;
    width: 100%;
    padding-top: 55%;
}

.panel {
    height: 100%;
    border: 1px solid #ddd;
    padding: 0;
    box-shadow: 1px 1px #a9a4a4;
}

 /* .panel:hover .cart-btn { 
     display: inline-block;
 } */

 /* The min and max height here deal with the                                 .panel-price fitting inside the panel body at                             differnent screen widths; */
.panel-body { 
    background-color: #e9ece0;
    padding: .5rem;
    max-height: 150px; 
    min-height: 100px;
}


.title-height {
    min-height: 38px;
}

.panel-price {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.2rem;
    float: right;
}

.panel-input {
    display: none;
}

.cart-form {
    display: inline-block;
}

.cart-btn {
    color: #a0d61e;
    border-color: #a0d61e;
    /* display: none; */
}

.cart-btn:hover {
    color:#ddd;
    background-color: #a0d61e;
    transform: scale(1.1);
    transition: 200ms;
}

.sale-tag {
    background-color: #772477;
    color: white;
    border-radius: 8%;
    padding: 5px;
    font-size: 1.1rem;
    margin-right: .5rem;
    float: right;
}

.price-tag {
    font-size: .9rem;
    color: #625f5f;
    font-weight: 500;
    margin-right: .5rem;
    float: right;
}

.price {
    margin-bottom: 0;
}

a {
    color: #131415;
}

a:hover {
    text-decoration: none;
}


/*------------------------- Cart page -------------------------*/

.cart-bg {
    background-color: grey;
}

.cart-panel {
    background-color: #e4e2e2;
    border: 1px solid #495057;
    margin-bottom: .5rem;
}

.cart-image-col {
    padding: 0;
}

.cart-input {
    width: 33%;
    height: 24px;
}

.cart-content {
    height: 100%;
}

.cart-total {
    padding: 10px;
    float: right;
}

.fa-check-circle {
    font-size: 24px;
    border-radius: 50%;
}


/*------------------------- Checkout page -------------------------*/

.checkout {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

@media(min-width: 576px) {
    .checkout {
    margin: 0;
    }
}


/*------------------------- Profile page -------------------------*/

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}


/*------------------------- Game details page -------------------------*/

.game-banner {
    padding: 0;
}

.bg-img {
    background-image: url("{{ MEDIA_URL }}{{ game.image }}");
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    background-attachment: fixed;
}

.play-btn {
    font-size: 7rem;
    color: 	#FFFFFF;
}

.title-padding {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.highlight {
    color: gold;
}

.box {
    display: inline-block;
}