body {
    font-family: Arial;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*------------------------- Index page -------------------------*/

.home-page-banner {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-colored-powder-color-powder-ink-image_15659.jpg");
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.container-fluid {
    background-color: #63797f;  
    height: 90vh;
}

.test {
    width: 70%;
    height: 90%;
    margin: 0 -250px;
    background-color: black;
}

.test:hover {
    transform: translateX(350px);
    transition: 0.35s ease-in-out;
}


/*------------------------- Index page -------------------------*/

.game {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.games-row {
    margin-top: 30px;
}


/*------------------------- Profile page -------------------------*/

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.box {
    height: 250px;
    width: 1000px;
    background-color: black;
    display: inline-block;
}

.fa-star {
    color: gold;
}

.fa-star:hover {
    background-color: gold;
}