{% extends "base.html" %}
{% load bootstrap_tags %}
{% block navclass %} class="navbar navbar-expand-md navbar-dark bg-black" {% endblock %}>
{% block content %}
<div class="container">
    <div class="col-md-6 content mt-4">
        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
            <fieldset class="form-group">
                <legend>Login</legend>
                <hr class="mt-0">
                {% csrf_token %}
                {{ user_form | as_bootstrap }}

                <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>

                <button type="submit" class="btn btn-outline-info">Login</button>
            </fieldset>
        </form>
        <small class="text-muted">
            Need an account? <a href="{% url 'register' %}">Sign up!</a>
        </small>
    </div>
</div>
{% endblock %}